---
---

@import "{{ site.theme }}";

article.page h3 {
  margin-left: 1em;
  padding: 0.5em;
  border-left: 10px solid #47C4A1;
}

article.page h4 {
  margin-left: 3em;
  padding: 0.5em;
  border-left: 8px solid #DBB74F;
}

article.page h5 {
  margin-left: 5em;
  padding: 0.5em;
  border-left: 6px solid #94D6FF;
}

article.page h6 {
  margin-left: 7em;
  padding: 0.5em;
  border-left: 4px solid #AC5936;
}

* {
  font-family: "Helvetica Neue", Arial, Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "UD Digi Kyokasho NK-R", "UDDigiKyokasho R", "BIZ UDGothic", YuGothic, "Yu Gothic Medium", "Yu Gothic", Meiryo, sans-serif;
}


.japanese_style_quotation_mark {
  background: linear-gradient(transparent 60%, #e0ebaf 60%);
}

.japanese_style_round_brackets, {
  background-color: #e7e7eb;
}

.japanese_style_round_brackets>.japanese_style_quotation_mark {
  background: linear-gradient(transparent 60%, #e0ebaf 60%);
}


p {
line-height:1.7
}


.markdown-body dl dt {
  padding: 0.5em;
  border-left: 6px solid  	#ffd1a3;
  font-style:normal;
}

dd {
  text-indent:4em;
}



/* IEだけに適応 */

_:lang(x)::-ms-backdrop, .selector {
  a:link {
    color: #2298A1;
  }
}


pre code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow: auto !important;
}

nav ul.breadcrumbs {
  display: flex;
  list-style-type: none;
}

nav ul.breadcrumbs li::after{
  content: '/';
  display: inline-block;
  padding: 0 10px;
}

nav ul.breadcrumbs li:last-child::after{
  display: none;
}


.page__content dd {
  font-size: 95%
}




.sidebar p, .sidebar li {
  font-size: 0.9em;
}

// Customize Minimal Mistakes - K’s website
// https://www.treetop.to/githubpages/minimal-mistakes/

@include breakpoint(max-width ($large - 1px)) {
    .toc__list, .nav__list {
        display: inline-grid;
        margin-bottom: 0 !important;
    }
}

.toc__list {
    margin-bottom: 1.5em;

    input[type="checkbox"],
    label {
        display: none;
    }

    @include breakpoint(max-width ($large - 1px)) {
        label {
            position: relative;
            display: inline-block;
            padding: 0.5em 2.5em 0.5em 1em;
            color: $gray;
          /*
            font-size: $type-size-6;
          */
            font-weight: bold;
            border: 1px solid $light-gray;
            border-radius: $border-radius;
            z-index: 20;
            -webkit-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
            cursor: pointer;

            &:before,
            &:after {
                content: "";
                position: absolute;
                right: 1em;
                top: 1.25em;
                width: 0.75em;
                height: 0.125em;
                line-height: 1;
                background-color: $gray;
                -webkit-transition: 0.2s ease-out;
                transition: 0.2s ease-out;
            }

            &:after {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            &:hover {
                color: #fff;
                border-color: $gray;
                background-color: mix(white, #000, 20%);

                &:before,
                &:after {
                    background-color: #fff;
                }
            }
        }

        /* selected*/
        input:checked + label {
            color: white;
            background-color: mix(white, #000, 20%);

            &:before,
            &:after {
                background-color: #fff;
            }
        }

        /* on hover show expand*/
        label:hover:after {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        input:checked + label:hover:after {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
    }
}

.toc__list .toc__items {
    margin: 0;

    a {
        color: inherit;
    }

    .active {
        margin-left: -0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-weight: bold;
    }

    @include breakpoint(max-width ($large - 1px)) {
        position: relative;
        max-height: 0;
        opacity: 0%;
        overflow: hidden;
        z-index: 10;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        -webkit-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
        transform: translate(0, 10%);
    }
}

@include breakpoint(max-width ($large - 1px)) {
    .toc__list input:checked ~ .toc__items {
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        max-height: 9999px; /* exaggerate max-height to accommodate tall lists*/
        overflow: visible;
        opacity: 1;
        margin-top: 1em;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.toc__title {
    margin: 0;
    padding: 0.25rem 0.75rem;
    font-family: $sans-serif-narrow;
    font-weight: bold;
}


.toc__items {
    a:link, a:visited { color: $text-color; }
    ul > li > ul > li {
        padding-left: 1em;
    }
    :target {
        font-weight: bold;
    }
    :not(:target) {
        font-weight: italic;
    }
}

