---
---

@import "{{ site.theme }}";
h3 { margin-left: 1em }
h4 { margin-left: 3em }

*{
    font-family: "Helvetica Neue",
    Arial,
	 Verdana,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
	    "UD Digi Kyokasho NK-R",
    "UDDigiKyokasho R",
    "BIZ UDGothic",
    YuGothic, "Yu Gothic Medium", "Yu Gothic", 
    Meiryo,
    sans-serif;
	
.japanese_style_quotation_mark { color:red; }

.round_brackets { color:green; }

}


/* IEだけに適応 */
_:lang(x)::-ms-backdrop, .selector {
	a:link {color:#2298A1;}
}


p{
  	  /*  
  font-size: 15px; 
	    line-height: 1.8;
	    margin: 1.3em 0px;
	    letter-spacing: -0.8px;
  text-align:justify;
  */
}
