---
---

@import "{{ site.theme }}";
h3 {
  margin-left: 1em;
  padding: 0.5em;
  border-left: 10px solid #47C4A1;
}

h4 {
  margin-left: 3em;
  padding: 0.5em;
  border-left: 8px solid #DBB74F;
}

h5 {
  margin-left: 5em;
  padding: 0.5em;
  border-left: 6px solid #94D6FF;
}

h6 {
  margin-left: 7em;
  padding: 0.5em;
  border-left: 4px solid #AC5936;
}

* {
  font-family: "Helvetica Neue", Arial, Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "UD Digi Kyokasho NK-R", "UDDigiKyokasho R", "BIZ UDGothic", YuGothic, "Yu Gothic Medium", "Yu Gothic", Meiryo, sans-serif;
}


.japanese_style_quotation_mark {
  background: linear-gradient(transparent 60%, #e0ebaf 60%);
}

.japanese_style_round_brackets, {
  background-color: #e7e7eb;
}

.japanese_style_round_brackets>.japanese_style_quotation_mark {
  background: linear-gradient(transparent 60%, #e0ebaf 60%);
}


p {
line-height:1.7
}


.markdown-body dl dt {
  padding: 0.5em;
  border-left: 4px solid #ffc1ff;
  font-style:normal;
}

dd {
  text-indent:4em;
}

/* IEだけに適応 */

_:lang(x)::-ms-backdrop, .selector {
  a:link {
    color: #2298A1;
  }
}

