<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>判決文公開用の処理</title>
<script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
<script>
	var $id = function (id) {
	  return document.getElementById(id);
	};

	function replaceZenkakuWithHankaku(str) {
	  return str.replace(/[Ａ-Ｚａ-ｚ０-９]/g, function (s) {
	    return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
	  });
	}

	function zeroPadding(num, length) {
	  return ('0000000000' + num).slice(-length);
	}
	

	var objCourtNames = {
		'最高':'supreme-court',
		'高等':'high-court',
		'地方':'district-court',
		'札幌':'-sapporo',
		'仙台':'-sendai',
		'東京':'-tokyo',
		'名古屋':'-nagoya',
		'大阪':'-osaka',
		'広島':'-hiroshima',
		'高松':'-takamatsu',
		'福岡':'-fukuoka'
	}
	
	var objEraNames = {
	  '明治': 'meiji',
	  '大正': 'taishou',
	  '昭和': 'shouwa',
	  '平成': 'heisei',
	  '令和': 'reiwa'
	}
	var objEraNamesAndYear = {
	  '明治': 1867,
	  '大正': 1911,
	  '昭和': 1925,
	  '平成': 1988,
	  '令和': 2018
	}
	var objChineseNumbersAndRomanNumbers = {
	  '〇': 0,
	  '一': 1,
	  '二': 2,
	  '三': 3,
	  '四': 4,
	  '五': 5,
	  '六': 6,
	  '七': 7,
	  '八': 8,
	  '九': 9
	}
	var objRecordSignForCasesAndRoman = {
	  '行ツ': 'gyoutsu'
	    //
	    ,
	  '行ヒ': 'gyouhi'
	    //
	    ,
	  '手ハ': 'teha'
	    //少額訴訟事件
	    ,
	  '少コ': 'shouko'
	    //少額訴訟判決に対する異議申立て事件
	    ,
	  '少エ': 'shoue'
	    //控訴提起事件
	    ,
	  'ハレ': 'hare'
	    //飛躍上告提起事件
	    ,
	  'ハツ': 'hatsu'
	    //少額異議判決に対する特別上告提起事件
	    ,
	  '少テ': 'shoute'
	    //再審事件
	    ,
	  'ハソ': 'hatsu'
	    //借地非訟事件
	    ,
	  '特ノ': 'tokuno'
	    //少額訴訟債権執行事件
	    ,
	  '少ル': 'shouru'
	    //過料事件
	    ,
	  '手ワ': 'tewa'
	    //控訴提起事件
	    ,
	  'ワネ': 'wane'
	    //飛躍上告提起事件
	    ,
	  'ワオ': 'wao'
	    //飛躍上告受理申立て事件
	    ,
	  'ワ受': 'waju'
	    //再審事件
	    ,
	  'レツ': 'retsu'
	    //抗告事件
	    ,
	  'ソラ': 'sora'
	    //民事非訟事件
	    ,
	  '財チ': 'zaichi'
	    //執行雑事件
	    ,
	  '再イ': 'saii'
	    //給与所得者等再生事件
	    ,
	  '再ロ': 'sairo'
	    //会社更生事件
	    ,
	  '集ワ': 'shuuwa'
	    //過料事件
	    ,
	  '借チ': 'shakuhi'
	    //罹災都市借地借家臨時処理事件及び接収不動産に関する借地借家臨時処理事件
	    ,
	  '特ノ': 'tokuno'
	    //事情届に基づいて執行裁判所が実施する配当等手続事件
	    ,
	  '人モ ': 'jinmo'
	    //高等裁判所
	    //通常訴訟事件
	    ,
	  'ネオ': 'neo'
	    //上告受理申立て事件
	    ,
	  'ネ受': 'neju'
	    //抗告事件
	    ,
	  'ラク': 'raku'
	    //許可抗告申立て事件
	    ,
	  'ラ許': 'rakyo'
	    //再審事件
	    ,
	  '人ナ': 'jinna'
	    //人身保護雑事件
	    ,
	  '人ウ ': 'jinnu'
	    //最高裁判所
	    //上告事件
	    ,
	  //簡易裁判所
	  //和解事件
	  'イ': 'i'
	    //督促事件
	    ,
	  'ロ': 'ro'
	    //通常訴訟事件
	    ,
	  'ハ': 'ha'
	    //手形訴訟事件及び小切手訴訟事件
	    ,
	  'ニ': 'ni'
	    //公示催告事件
	    ,
	  'ヘ': 'he'
	    //保全命令事件
	    ,
	  'ト': 'to'
	    //抗告提起事件
	    ,
	  '借': 'shaku'
	    //民事一般調停事件
	    ,
	  'ノ': 'no'
	    //宅地建物調停事件
	    ,
	  'ユ': 'yu'
	    //農事調停事件
	    ,
	  'セ': 'se'
	    //商事調停事件
	    ,
	  'メ': 'me'
	    //鉱害調停事件
	    ,
	  'ス': 'su'
	    //交通調停事件
	    ,
	  '交': 'majiwari'
	    //公害等調停事件
	    ,
	  '公': 'ooyake'
	    //特定調停事件
	    ,
	  'ア': 'a'
	    //共助事件
	    ,
	  'キ': 'ki'
	    //民事雑事件
	    ,
	  'サ': 'sa'
	    //地方裁判所
	    //通常訴訟事件
	    ,
	  'ワ': 'wa'
	    //手形訴訟事件及び小切手訴訟事件
	    ,
	  'カ': 'ka'
	    //公示勧告事件
	    ,
	  'ヘ': 'he'
	    //保全命令事件
	    ,
	  'ヨ': 'yo'
	    //控訴事件
	    ,
	  'レ': 're'
	    //上告提起事件
	    ,
	  'ソ': 'so'
	    //抗告提起事件
	    ,
	  'チ': 'chi'
	    //商事非訟事件
	    ,
	  'ヒ': 'hi'
	    //借地非訟事件
	    ,
	  'シ': 'shi'
	    //配偶者暴力等に関する保護命令事件
	    ,
	  '配チ': 'haichi'
	    //労働審判事件
	    ,
	  '労': 'rou'
	    //民事一般調停事件
	    ,
	  'ノ': 'no'
	    //宅地建物調停事件
	    ,
	  'ユ': 'yu'
	    //農事調停事件
	    ,
	  'セ': 'se'
	    //商事調停事件
	    ,
	  'メ': 'me'
	    //鉱害調停事件
	    ,
	  'ス': 'su'
	    //交通調停事件
	    ,
	  '交': 'majiwari'
	    //公害等調停事件
	    ,
	  '公': 'ooyake'
	    //特定調停事件
	    ,
	  'リ': 'ri'
	    //不動産、船舶、航空機、自動車、建設機械及び小型船舶に対する強制執行事件
	    ,
	  'ヌ': 'nu'
	    //債権及びその他の財産権に対する強制執行事件
	    ,
	  'ル': 'ru'
	    //不動産、船舶、航空機、自動車、建設機械及び小型船舶を目的とする担保権の実行としての競売等事件
	    ,
	  'ケ': 'ke'
	    //債権及びその他の財産権を目的とする担保権の実行及び行使事件
	    ,
	  'ナ': 'na'
	    //財産開示事件
	    ,
	  'ヲ': 'wo'
	    //企業担保権実行事件
	    ,
	  '企': 'ki'
	    //破産事件
	    ,
	  'フ': 'fu'
	    //再生事件
	    ,
	  '再': 'sai'
	    //小規模個人再生事件
	    ,
	  'ミ': 'mi'
	    //承認援助事件
	    ,
	  '承': 'shou'
	    //船舶所有者等責任制限事件
	    ,
	  '船': 'fune'
	    //油濁損害賠償責任制限事件
	    ,
	  '油': 'abura'
	    //簡易確定事件
	    ,
	  '集': 'shuu'
	    //簡易確定決定に対する異議申立て提起事件
	    ,
	  'ホ': 'ho'
	    //共助事件
	    ,
	  'エ': 'e'
	    //仲裁関係事件
	    ,
	  '仲': 'naka'
	    //民事雑事件
	    ,
	  'モ': 'mo'
	    //人身保護事件
	    ,
	  '人': 'jin'
	    //人身保護雑事件
	    ,
	  'ワ': 'wa'
	    //控訴事件
	    ,
	  'ネ': 'ne'
	    //上告提起事件
	    ,
	  'ラ': 'ra'
	    //特別抗告提起事件
	    ,
	  'ム': 'mu'
	    //上告事件
	    ,
	  'ツ': 'tsu'
	    //特別上告提起事件
	    ,
	  'ツテ': 'tsute'
	    //民事一般調停事件
	    ,
	  'ノ': 'no'
	    //宅地建物調停事件
	    ,
	  'ユ': 'yu'
	    //農事調停事件
	    ,
	  'セ': 'se'
	    //商事調停事件
	    ,
	  'メ': 'me'
	    //鉱害調停事件
	    ,
	  'ス': 'su'
	    //交通調停事件
	    ,
	  '交': 'majiwari'
	    //公害等調停事件
	    ,
	  '公': 'ooyake'
	    //民事雑事件
	    ,
	  'ウ': 'u'
	    //人身保護事件
	    ,
	  'あ': 'a'
	    //
	    ,
	  'オ': 'o'
	    //上告受理事件
	    ,
	  '受': 'ju'
	    //特別上告事件
	    ,
	  'テ': 'te'
	    //特別抗告事件
	    ,
	  'ク': 'ku'
	    //許可抗告事件
	    ,
	  '許': 'kyo'
	    //再審事件
	    ,
	  'ヤ': 'ya'
	    //民事雑事件
	    ,
	  'マ ': 'ma'
	}

	function replaceTextWighObj(string, obj) {
	  $.each(obj, function (key, value) {
	    string = string.replace(new RegExp(key, 'g'), value);
	  });
	  return string;
	}
	
	function zeroPaddingForYYMMDD(string) {
	      let regexpYYMMDD = /(\d{1,2})(年)(\d{1,2})(月)(\d{1,2})(日)/
	      let _, eraName, yy, mm, dd, yyJP, mmJP, ddJP;
	      [_, yy, yyJP, mm, mmJP, dd, ddJP] = string.match(regexpYYMMDD);
	      yy = zeroPadding(yy,2);
	      mm = zeroPadding(mm,2);
	      dd = zeroPadding(dd,2);
	      return string.replace(regexpYYMMDD, `${yy}${yyJP}${mm}${mmJP}${dd}${ddJP}`);
	}

	function convertCalendarFromJapaneseToWestern(string) {
	      let regexpForInfoOfJudgment = /(明治|大正|昭和|平成|令和)(\d{2})(年)/
	      let yyyy, _, eraName, yy, yyJP;
	      [_, eraName, yy, yyJP] = string.match(regexpForInfoOfJudgment);
	      
	      yyyy = String(Number(yy) + objEraNamesAndYear[eraName]);
   	      return string.replace(regexpForInfoOfJudgment, `${yyyy}${yyJP}`);
	}

	function convertCalendarWithHyphen(string) {
	      let regexpForYYYYMMDD = /(\d{4})年(\d{2})月(\d{2})日$/
	      let _, yyyy, mm, dd;
	      [_, yyyy, mm, dd] = string.match(regexpForYYYYMMDD);
	      
   	      return `${yyyy}-${mm}-${dd}`;
	}

	function convertText(full_text) {
	  var convertedArea = $id("convertedArea");
	  var rows = new Array();
	  rows = full_text.split("\n");
	  var buffer = "";
	  var numberOfDocket = "";
	  var yymmddDayOfJudgment = "";
	  var dayOfJudgment = "";
	  var nameOfCourt = "";
	  var kindOfJudgment = "";
	  var englishNameOfCourt = "";
	  var citationForCase = "";
	  var numberOfPara = 0;
	  var isReasonOfJudgment = false;
	  var isFrontFormatter = false;
	  
	  var depthJapaneseStyleQuotationMark = 0;
	  var depthRoundBrackets = 0;
	  
	  $.each(rows, function (_, txt) {
	    txt = replaceZenkakuWithHankaku(txt.trim());
	    // 
	    if (txt.match(/kind_of_judgment/)) {
	      [_1, _2, kindOfJudgment] = txt.match(/^(.+?):(.+)$/);
	    }
	    // 裁判所を英語表記に切り替える
	    if (txt.match(/kind_of_court/)) {
      	  $.each(objCourtNames, function (key, value) {
		      if (txt.match(new RegExp(key))) {
		        if (value) {
			        englishNameOfCourt += value;
		        }
		      }
	      });
	      
	    }
	    
	    
	    if (txt.match(/day_of_judgment/)) {
	      txt = zeroPaddingForYYMMDD(txt);
  	      let _;
	      [_, dayOfJudgment] = txt.match(/^.+?:(.+)$/);
	      yymmddDayOfJudgment = convertCalendarWithHyphen(convertCalendarFromJapaneseToWestern(txt));
	    }
	    
	    if (txt.match(/docket_number/)) {
	      let regexpForNumberOfDocket = /(明治|大正|昭和|平成|令和)(\d{1,2})年（(.{1,2})）第(\d{1,5})号/
	      let _, eraName, y, kindOfCase, serialNumber;
	      [_, eraName, y, kindOfCase, serialNumber] = txt.match(regexpForNumberOfDocket);
	      eraName = replaceTextWighObj(eraName, objEraNames);
	      kindOfCase = replaceTextWighObj(kindOfCase, objRecordSignForCasesAndRoman);
	      numberOfDocket = `${eraName}-${y}-${kindOfCase}-${serialNumber}`;
	    }
	    if (txt.match(/law_reports/)) {
	      [_1, _2, citationForCase] = txt.match(/^(.+?):(.+)$/);
	    }
	    txt = txt.replace(/^主　+文$/, '### 主文');
	    txt = txt.replace(/^理　+由$/, '### 理由');
	    txt = txt.replace(/^事実及び理由$/, '### 事実及び理由');
		  
       if (isReasonOfJudgment == false) {
	      if (txt == "### 理由" || txt == "### 事実及び理由") {
	        isReasonOfJudgment = true
	      }
	    }
	    
	    
   	    // 「裁判官一覧」という見出しもつける
   	    // 裁判官一覧を表形式に変換する
	    if (txt.match(/^（裁判長裁判官/)) {
	      	buffer += "### 裁判官一覧\n\n";

		    [_, body] = txt.match(/^（(.+)）$/);
		    body = `|${body.replace(/　/g, "|")}|`;
		    body = `${body.replace(/(\|裁判官)/g, "|\n$1")}`;
	      	buffer += body;
	      	txt = "";
		}
	    

	    // 段落番号
	    if (isReasonOfJudgment && txt != "") {
		    //  段落番号をつけない
	      if (!txt.match(/^[\|#>]/)) {
	        numberOfPara += 1;
	        txt = `[[${String(numberOfPara)}](#id_${String(numberOfPara)})]`
	        	+ `<a id="id_${String(numberOfPara)}"></a>　${txt}`;
	      }
	    }
	    // フロントマター部分の余分な空白を削除
	    if (isFrontFormatter && txt.match(/^(.+?):(.+)$/)) {
	      let _, pre, post;
	      [_, pre, post] = txt.match(/^(.+?):(.+)$/);
	      txt = `${pre.trim()}: "${post.trim()}"`;
	    }
		  
	    // フロントマター以外ではカンマを読点に統一する
	    if (isFrontFormatter == false) {
		txt = txt.replace(/，/g, "、");
	    }
		  
		  
	    // 「」と（）の背景色を設定して見やすくする
	    // span で囲む
	    if (isFrontFormatter == false) {
		    tmpTxt = "";
		    
		    $.each(txt.split(""), function (_, char) {
			if (char == "「") {
				depthJapaneseStyleQuotationMark += 1

			    if (depthJapaneseStyleQuotationMark == 1) {
				tmpTxt += `<span class='japanese_style_quotation_mark'>${char}`
			    }
			} else if (char == "」") {
				depthJapaneseStyleQuotationMark -= 1

			    if (depthJapaneseStyleQuotationMark == 0) {
				tmpTxt += `${char}</span>`
			    }
			} else if (char == "（") {
				depthRoundBrackets += 1

			    if (depthRoundBrackets == 1) {
				tmpTxt += `<span class='japanese_style_round_brackets'>${char}`
			    }
			} else if (char == "）") {
				depthRoundBrackets -= 1

			    if (depthRoundBrackets == 0) {
				tmpTxt += `${char}</span>`
			    }
			} else {
			    tmpTxt += `${char}`

			}
		    });
		    txt = tmpTxt;
	    }
	    
	    buffer += txt + "\n";
		  
		// 改行の挿入を抑制する
	    if (isFrontFormatter == false) {
		    if (txt != "---" && !txt.match(/^\|/)) {
	      		buffer += "\n";
		    }
	    }
	    // Front Formatter 開始処理
	    if (isFrontFormatter == false && txt == "---") {
	      isFrontFormatter = true;
	      buffer += `footer_file: "footer.md"
additional_footer_file: "footer_for_jp_cases.md"
`;

	    } else if (isFrontFormatter == true && txt == "---") {
	      // Front Formatter 終了処理
	      isFrontFormatter = false;

	      buffer += `
## ${nameOfCourt.trim()}　${kindOfJudgment.trim()}　${dayOfJudgment.trim()}　${citationForCase.trim()}

* table\n
{:toc}\n\n

### 裁判情報

| 種類 | 情報 |
| --- | --- |
| 裁判所 | {{ page.kind_of_court }} |
| 裁判の種類 |  {{ page.kind_of_judgment }}  |
| 言渡期日 |  {{ page.day_of_judgment }}  |
| 事件番号 |  {{ page.docket_number }}  |
| 事件名 |  {{ page.case_name }}  |
| 掲載 |  {{ page.law_reports }}  |
| 調査官解説の掲載 |  {{ page.commentary_by_research_law_clerk }}  |
| 学習用判例集 |  {{ page.teaching_materials }}  |
| 審級関係 |  {{ page.step }}  |
| 当事者 |  {{ page.parties }}  |
`;

	    }
	  });
	  
	  buffer += `
{% include {{ page.footer_file }}  %}
{% include {{ page.additional_footer_file }}  %}
`;
	  
	  convertedArea.innerHTML = buffer;
	  textFileName.innerHTML = `${englishNameOfCourt}-${yymmddDayOfJudgment}-${numberOfDocket}.md`;
	}</script>

	<link rel="stylesheet" href="/assets/css/style.css?v=5ba8de3e899d6af0d7c978ed2dc1bc9c4d2b3879">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      
      <h1><a href="https://tkslab.github.io/">tks lab</a></h1>
	<h2>判決文公開用の処理</h2>
	<form name="form1">
		<p>処理前<br>
		<textarea id="sourceArea" rows="5" cols="80" placeholder="input" onkeyup="convertText($id('sourceArea').value);"></textarea>
		</p>
		
		<p>処理後<br>
		<textarea id="convertedArea" rows="5" cols="80" placeholder="output1"></textarea><br>
		</p>
		
		<p>新ファイル名<br>
		<textarea id="textFileName" rows="1" cols="80" placeholder="output2"></textarea><br>
		</p>
	</form>
	
	<h1>テンプレート</h1>
	<div><pre>---
kind_of_judgment: 
kind_of_court: 
day_of_judgment: 
docket_number: 
case_name: 
law_reports: 
commentary_by_research_law_clerk: 
teaching_materials: 
step: 
parties: 
---</pre></div>
	  </div>
</body>
</html>

